@import './../../utils/colors.css';

.Report {
  flex:1;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.Report-header {
  flex: 1;
  background-color: var(--primaryDark);
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.Report-body {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryDark);
}

.Report-Header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Report-Page-title-text {
  padding-left: 12px;
}

.Report-form {
  
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: var(--white);
  color: var(--white);
  border-radius: 8px;
  justify-content: space-between;
  color: black;
}

.Report-form-line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 24px;
  margin-right: 24px; 
  margin-top: 12px;
}

.Report-form-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 24px;
  margin-right: 24px;
}

.Report-status-label {
  color: white;
  padding: 4px;
  border-radius: 4px;
}

.Report-item {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
  justify-content: center;
  margin: 12px;
  width: 360px;
  border-radius: 8px;
}

.Report-card-process {
  background-color: var(--primaryProcess);
}

.Report-card-process:hover {
  background-color: var(--primaryProcessHover);
  cursor: pointer;
}

.Report-card-Process {
  background-color: var(--primaryProcess);
}

.Report-card-Process:hover {
  background-color: var(--primaryProcessHover);
  cursor: pointer;
}

.Report-card-report {
  background-color: var(--primaryReports);
}

.Report-card-report:hover {
  background-color: var(--primaryReportsHover);
  cursor: pointer;
}

.Report-Button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 12px;
}

.Report-Button-done {
  border-style: solid;
  border-color: yellowgreen;
}

.Report-select-users {
  width: 100%;;
}

input {
  width: 100%;
  height: 36px;
  font-size: 18px;
}

select {
  width: 100%;
  height: 42px;
  font-size: 18px;
}

option {
  font-size: 16px;
  height: 36px;
}

button {
  width: 100%;
  height: 42px;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 160px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .Report-form {
    width: 90%;
  }

  .Report-form-line {
    align-items: flex-start;
  }
  .Report-Header-title {
    padding: 20px;
  }
}