@import './../../utils/colors.css';

.Processes {
  flex:1;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.Processes-header {
  flex: 1;
  background-color: var(--primaryDark);
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.Processes-body {
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primaryDark);
}

.Processes-Header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Processes-Page-title-text {
  padding-left: 12px;
}

.Processes-list {
  height: 100%;
  flex-direction: column;
  width: 80%;
  background-color: var(--white);
  color: var(--white);
  border-radius: 8px;
}

.Processes-item {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
  justify-content: center;
  margin: 12px;
  width: 360px;
  border-radius: 8px;
}

.Processes-card-process {
  background-color: var(--primaryProcess);
}

.Processes-card-process:hover {
  background-color: var(--primaryProcessHover);
  cursor: pointer;
}

.Processes-card-Process {
  background-color: var(--primaryProcess);
}

.Processes-card-Process:hover {
  background-color: var(--primaryProcessHover);
  cursor: pointer;
}

.Processes-card-report {
  background-color: var(--primaryReports);
}

.Processes-card-report:hover {
  background-color: var(--primaryReportsHover);
  cursor: pointer;
}

.Processes-Button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 12px;
}