@import './../../utils/colors.css';

.Home {
  text-align: center;
}

.Home-header {
  background-color: var(--primaryDark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: --var(--white);
}

.Home-Header-title {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Home-card-list {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.Home-card-item {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
  justify-content: center;
  margin: 12px;
  width: 360px;
  border-radius: 8px;
}

.Home-card-process {
  background-color: var(--primaryProcess);
}

.Home-card-process:hover {
  background-color: var(--primaryProcessHover);
  cursor: pointer;
}

.Home-card-user {
  background-color: var(--primaryUser);
}

.Home-card-user:hover {
  background-color: var(--primaryUserHover);
  cursor: pointer;
}

.Home-card-report {
  background-color: var(--primaryReports);
}

.Home-card-report:hover {
  background-color: var(--primaryReportsHover);
  cursor: pointer;
}

.Home-Page-title-text {
  padding-left: 12px;
}
